
@font-face {
    font-family: 'Arsenal';
    src: url('../fonts/arsenal-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/arsenal-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Arsenal';
    src: url('../fonts/arsenal-italic-webfont.woff2') format('woff2'),
         url('../fonts/arsenal-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Arsenal';
    src: url('../fonts/arsenal-regular-webfont.woff2') format('woff2'),
         url('../fonts/arsenal-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  height: 100%;
}
body{
  min-height: 100%;
  display: flex;
  flex-direction: column;
  /*padding-top: 80px;*/
  /*for fixed header*/
  height: 100%;
  line-height: 1.5;
  font-size: 14px;
  font-size: .875rem;
  font-family: Georgia, Times, "Times New Roman", serif;
}
img{
  max-width: 100%;
}
h1,h2,h3,h4,h5{
  font-family: 'Open Sans', sans-serif;
}
h2{
  font-family: 'Arsenal', sans-serif;
  font-weight: normal;
  font-style: italic;
}
.content-text p{
  margin: 4.5em 0;
  text-indent: 1em;
}
.content-text p:first-letter{
  font-size: 2em;
  text-transform: uppercase;
  color: red;
  vertical-align: baseline; 
  margin-right: .1em;
}
.content-text ul{
  margin: 1em 0;
}

.content-text ol{
  counter-reset: section;
  list-style-type: none;
  margin: 1em 0 1em 1em;
}
.content-text ol li{
  position: relative;
  padding-left: 5em;
  min-height: 5em;
  margin: 1.5em 0;
}
.content-text ol li:before{
  counter-increment: section;
  content: counters(section,".") " ";
  font-family: 'Arsenal' , sans-serif;
  font-size: 2em;
  display: inline-block;
  width: 2em;
  height: 2em;
  border-radius: 2em;
  background: #333;
  color: #fff;
  text-align: center;
  line-height: 2em;
  position: absolute;
  left: 0;
  top: 0;
}
.content-text ol ol{
  counter-reset: subsection;
}
.content-text ol ol li:before{
  counter-increment: subsection;
  content: counters(section,".") " - " counters(subsection,".") " ";
}
.content-text ol li:nth-child(3n):before{
  background: #ccc;
}
.content-text ol li:nth-child(3n-1):before{
  background: #b1b14f;
}
.content-text blockquote{
  padding: .5em;
  border-top: 2px solid red;
  border-bottom: 2px solid red;
  quotes: "\201C""\201D""\2018""\2019";
}
.content-text blockquote:before{
  color: red;
  content: open-quote;
  font-size: 3em;
  font-family: 'Arsenal' , sans-serif;
}
.content-text blockquote:after{
  color: red;
  content: close-quote;
  font-size: 3em;
  font-family: 'Arsenal' , sans-serif;
  vertical-align: bottom;
}

.page{
  overflow-y: scroll;
  flex: 1 auto;
}
.wrapper{
  margin: 0 auto;
  max-width: 960px;
  position: relative;
  z-index: 2;
  padding: 0 10px;
}
.wrapper_full-width{
  max-width: none;
}
.header{
  background: green;
  color: #333;
  position: relative;
  z-index: 3;
}
.header_fixed{
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  left: 0;
  height: 80px;
}

.footer{
  background: #333;
  color: #fff;
  margin-top: auto;
}
.footer .bordered{
  border-color: #fff;
}
.bordered{
  border: 1px solid #333;
  padding: 10px;
}

.content-text ul{
  list-style: none;
  padding-left: 2em;
  margin: 1.5em 0;
}
.content-text ul li{
  margin: .5em 0;
  position: relative;
}
.content-text ul li:before{
  content: '';
  height: .5em;
  width: .5em;
  background: rgb(26,132,44); /* Old browsers */
background: -moz-linear-gradient(top, rgba(26,132,44,1) 0%, rgba(125,185,232,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(26,132,44,1) 0%,rgba(125,185,232,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(26,132,44,1) 0%,rgba(125,185,232,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a842c', endColorstr='#7db9e8',GradientType=0 );
  position: absolute;
  /*абсолютне позиціювання робить елемент блочним, 
  тому властивість display нам прописувати не потрібно*/
  left: -2em;
  top: .5em;
  border-radius: .5em;
}
.author{
  padding: 15px;
  border: 1px solid #333;
  margin: 20px 0;
  display: flex;
  align-items: center;
  font-family: sans-serif;
}

